In [13]:
import os

In [14]:
os.cpu_count()

16

In [1]:
import pandas as pd
from faker import Faker
fake = Faker()

In [7]:
for _ in range(5):
    row = fake.profile(fields=['username', 'birthdate', 'sex', 'blood_group', 'mail', 'ssn', 'job', 'company',])
    break

In [8]:
print(row)

{'job': 'Special educational needs teacher', 'company': 'Day Group', 'ssn': '731-82-6716', 'blood_group': 'B+', 'username': 'davidwhite', 'sex': 'F', 'mail': 'maria37@hotmail.com', 'birthdate': datetime.date(1993, 10, 31)}

In [9]:
d_sample = pd.DataFrame([row])

In [10]:
d_sample

,job,company,ssn,blood_group,username,sex,mail,birthdate
0,Special educational needs teacher,Day Group,731-82-6716,B+,davidwhite,F,maria37@hotmail.com,1993-10-31

In [11]:
d_sample.to_csv('../data/sample.csv', index=False)